.label {
    -fx-text-fill: white;
}

/* This is the main view styling */
#mainViewContainer {
	-fx-min-width: 300;
	-fx-min-height: 32;
	-fx-background-color: #363738;
}


#mainViewContainer:focused #actionBarContainer {
	-fx-background-color: #4f5051;
}

#actionBarContainer {
	-fx-background-color: #696b6d;
	-fx-min-height: 32;
	-fx-max-height: 32;
}

#viewActionBarSpacer {
	-fx-border-color: #ffffff;
	-fx-border-width: 0 0 2 0;
	-fx-min-height: 32;
	-fx-max-height: 32;
}

#tabBox {
	-fx-min-width: 50;
	-fx-min-height: 32;
	-fx-max-height: 32;
	-fx-padding: 8;
	-fx-background-color: #696b6d;
	-fx-border-color: #ffffff;
	-fx-border-width: 0 0 2 0;
}

#tabBox:hover {
	-fx-background-color: #4f5051;
}

#selectedTab {
	-fx-min-width: 50;
	-fx-min-height: 32;
	-fx-max-height: 32;
	-fx-padding: 8;
	-fx-background-color: #363738;
	-fx-border-color: #363738;
	-fx-border-width: 0 0 2 0;
}

#tabBoxCloseButton {
	-fx-cursor: hand;
}

#currentViewMenuActionsContainer {
	-fx-min-height: 32;
	-fx-max-height: 32;
	-fx-border-color: #ffffff;
	-fx-border-width: 0 0 2 0;
}

#viewPane {
	-fx-background-color: #363738;
}

#viewMenuActionsContainer {
	-fx-min-width: 32;
	-fx-min-height: 32;
	-fx-max-height: 32;
	-fx-padding: 4;
	-fx-border-color: #ffffff;
	-fx-border-width: 0 0 2 0;
}

#viewMenuActionsContainer .button {
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}


/* End of Main View styling */

/* This is the tool bar styling */
#toolBarButtonContainer {
	-fx-min-height: 32;
	-fx-max-height: 32;
	-fx-background-color: #4f5051;
}

#toolBarButton {
	-fx-min-height: 32;
	-fx-max-height: 32;
	-fx-min-width: 36;
	-fx-max-width: 36;
	-fx-background-position: center;
	-fx-padding: 0 8;
	-fx-cursor: hand;
}

#toolBarButton:hover {
	-fx-background-color: #696b6d;
}

#toolBarMenuBar {
	-fx-background-color: #4f5051;
	-fx-padding: 0;
}

#toolBarMenuBar .context-menu {
	-fx-padding: 0;
	-fx-min-width: 200;
}

#toolBarMenuBar .menu:hover { 
	-fx-background-color: #696b6d;
}

#toolBarMenuBar .menu:showing { 
	-fx-background-color: #696b6d;
}

#toolBarMenuBar .menu .menu-item {
	-fx-background-color: #696b6d;
}

#toolBarMenuBar .menu .menu-item:hover {
	-fx-background-color: #363738;
}

.progress-bar {
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-padding: 1px;
    -fx-background-radius: 0;
    
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}
/* End of tool bar styling */

/* Pop Up Styling */
#popUp > .button-bar > .container {
	-fx-background-color: #696b6d;
}

#popUp > .content.label {
	-fx-background-color: #696b6d;
	-fx-font-size:15px;
	-fx-wrap-text: true;
}

#popUp:header .header-panel {
	-fx-background-color: #4f5051;
}

#popUp:header .header-panel .label {
	-fx-wrap-text: true;
	-fx-font-size:30px;
	-fx-font-weight: bold;
}

#popUp .button {
   -fx-background-color: #4f5051;
   -fx-wrap-text: true;
   -fx-text-fill: white;
   -fx-cursor: hand;
}

#popUp .button:hover {     
	-fx-background-color: #363738;
}

#popUp #popUpGridPane {
	-fx-background-color: #696b6d;
}

#popUp .text-area {
	-fx-text-fill: white;
	-fx-background-color: #696b6d;
}

#popUp .text-area .content {
	-fx-background-color: #363738;
}
/* End of Pop Up styling */
 
/* Scroll bar styling */
.scroll-bar {
	-fx-background-color: #696b6d;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-bar .track{
    -fx-background-color: #363738;
    -fx-background-radius: 0em;
    -fx-border-radius: 0em;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " "; 
    -fx-padding: 0;
}

.scroll-bar .thumb {
	-fx-background-color: #696b6d;
	-fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/* End of Scroll Bar Scrolling */