/* Tree View */
.tree-view {
    -fx-background-color: #363738;
    -fx-text-fill: white;
    -fx-background-insets: 0;
}
.tree-cell {
    -fx-background-color: #363738;
    -fx-text-fill: white;
    -fx-width: 100%;
}
.tree-cell:selected {
    -fx-background-color: #222222;
}
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

/* Text Area */
#EditorTextArea {
	-fx-background-color: #363738;
	-fx-text-fill: white;
	-fx-background-insets: 0;
}
#EditorTextArea .content{
	-fx-background-color: #363738;
	-fx-text-fill: white;
}

#EditorTextArea:focused .content {
	-fx-background-color: #363738;
	-fx-border-width: 0;
}