/* Text Area */
#cmdTextArea {
	-fx-background-color: #363738;
	-fx-text-fill: white;
	-fx-background-insets: 0;
}
#cmdTextArea .content{
	-fx-background-color: #363738;
	-fx-text-fill: white;
}

#cmdTextArea:focused .content {
	-fx-background-color: #363738;
	-fx-border-width: 0;
}

/* Text Box */
#cmdTextBox {
	-fx-background-color: #363738;
	-fx-text-fill: white;
	-fx-background-insets: 0;
}
#cmdTextBox .content{
	-fx-background-color: #363738;
	-fx-text-fill: white;
}

#cmdTextBox:focused .content {
	-fx-background-color: #363738;
	-fx-border-width: 0;
}